/*/////////////////////////////////////// MENU //////////////////////////////////////*/
.nav{
    width: 100%;
    height: 50px;
    margin-bottom:15px;
}

.nav ul {
    list-style: none;
    background-color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'oswald', sans-serif;
    font-size: 1.2em;
}
 
.nav a {
    text-decoration: none;
    color: whitesmoke;
    display: block;
    transition: .3s background-color;
}
 
.nav a:hover {
    background-color: #777;
}
 
.nav a.active {
    background-color: whitesmoke;
    color: #444;
    cursor: default;
}
 
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }
  
  
p{
 font-family: Helvetica;
 color: black;
}
